@model IEnumerable<Staff.Models.Register>

@{
    ViewBag.Title = "Register";
}

<p>
    @Html.ActionLink("Add Register", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Person.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Check)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mastercard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discover)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiftCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tax)
            </th>
            <th></th>
        </tr>
    </thead>
@foreach (var item in Model)
{
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Person.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Check)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mastercard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discover)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiftCard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tax)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RegisterId }) |
                @Html.ActionLink("Details", "Details", new { id = item.RegisterId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RegisterId })
            </td>
        </tr>
    </tbody>
}

</table>
